In [8]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [9]:
dataset = pd.read_csv("HR_comma_sep.csv")

In [10]:
dataset

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [11]:
dataset['salary'].value_counts()

low       7316
medium    6446
high      1237
Name: salary, dtype: int64

In [12]:
dataset

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low
...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,low
14995,0.37,0.48,2,160,3,0,1,0,support,low
14996,0.37,0.53,2,143,3,0,1,0,support,low
14997,0.11,0.96,6,280,4,0,1,0,support,low
14998,0.37,0.52,2,158,3,0,1,0,support,low

In [16]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
dataset["Department"]=label_encoder.fit_transform(dataset["Department"])
dataset["Department"].unique()

array([7, 2, 3, 9, 8, 4, 0, 6, 5, 1], dtype=int64)

In [17]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
dataset["salary"]=label_encoder.fit_transform(dataset["salary"])
dataset["salary"].unique()

array([1, 2, 0], dtype=int64)

In [18]:
indep=dataset[['last_evaluation','number_project','average_montly_hours','time_spend_company','Work_accident','left','promotion_last_5years','Department','salary']]
dep=dataset['satisfaction_level']

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep,dep, test_size = 1/3, random_state = 0)

In [20]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [21]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid = {"criterion":["mae","mse","friedman_mse"],
             "splitter":["best", "random"],"max_features":["auto","sqrt","log2"]}
grid = GridSearchCV(DecisionTreeRegressor(), param_grid, refit=True, verbose = 3,n_jobs=-1)
grid.fit(X_train, y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\tree\_classes.py:370: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mae', 'mse', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [22]:
re=grid.cv_results_
grid_predictions=grid.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter{}:".format(grid.best_params_),r_score)

The R_score value for best parameter{'criterion': 'mae', 'max_features': 'log2', 'splitter': 'random'}: 0.127808039718473

In [23]:
table=pd.DataFrame.from_dict(re)

In [24]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,8.596526,1.402050,0.004018,0.001245,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.105014,0.081948,0.089520,0.153525,0.083143,0.102630,0.026741,13
1,6.216163,1.036195,0.007845,0.008713,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.076369,0.135649,0.087212,0.218973,0.126475,0.128936,0.050323,2
2,4.818570,1.463764,0.004604,0.005524,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.037176,0.106137,0.098264,0.218071,0.118693,0.115668,0.058396,7
3,1.610160,0.391586,0.003413,0.002052,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.069593,0.073964,0.143808,0.195440,0.020002,0.100561,0.061691,14
4,2.819545,0.430681,0.001000,0.002001,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.054566,0.158511,0.119383,0.188372,0.066995,0.117565,0.051419,6
5,1.486456,0.244702,0.000999,0.001997,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.045901,0.109487,0.246136,0.192956,0.082593,0.135415,0.073546,1
6,0.093610,0.002891,0.003605,0.001955,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.090549,0.124306,0.047545,0.172852,0.083959,0.103842,0.042244,12
7,0.053347,0.006433,0.003813,0.001440,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.058520,0.094868,0.098485,0.125851,0.081425,0.091830,0.022040,17
8,0.094302,0.050362,0.002238,0.001973,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.111162,0.065866,0.118570,0.131481,0.100378,0.105491,0.022248,10
9,0.032457,0.002239,0.002017,0.002471,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.048945,0.090739,0.119137,0.163735,0.066353,0.097782,0.040567,15
10,0.056538,0.006150,0.003020,0.004035,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.066398,0.129843,0.062178,0.195682,0.111968,0.113214,0.048735,8
11,0.044111,0.022286,0.007020,0.004038,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.103115,0.120678,0.115674,0.160128,0.137352,0.127389,0.019711,3
12,0.105203,0.017947,0.002623,0.002263,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.090557,0.105894,0.053279,0.173625,0.102919,0.105255,0.038982,11
13,0.048368,0.007677,0.006219,0.001492,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.093686,0.078438,0.161697,0.184852,0.085961,0.120927,0.043632,4
14,0.057568,0.009815,0.004609,0.002589,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.085871,0.070770,0.136007,0.153932,0.147374,0.118791,0.033876,5
15,0.032889,0.007081,0.003996,0.003741,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.087530,0.090413,0.068230,0.142892,0.021578,0.082129,0.039114,18
16,0.044299,0.004460,0.002610,0.002247,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.015472,0.114054,0.049261,0.158084,0.127721,0.092919,0.052552,16
17,0.041693,0.002898,0.001020,0.001290,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.119565,0.097523,0.141977,0.144428,0.043830,0.109465,0.036965,9

In [25]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid = {"criterion":["mae","mse","friedman_mse"],
             "n_estimators":[10,100],"max_features":["auto","sqrt","log2"]}
grid = GridSearchCV(RandomForestRegressor(), param_grid, refit=True, verbose = 3,n_jobs=-1)
grid.fit(X_train, y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\Users\ELCOT\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:407: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mae', 'mse', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [26]:
re=grid.cv_results_
grid_predictions=grid.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter{}:".format(grid.best_params_),r_score)

The R_score value for best parameter{'criterion': 'mae', 'max_features': 'sqrt', 'n_estimators': 100}: 0.5249027382522853

In [27]:
table=pd.DataFrame.from_dict(re)

In [28]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,32.354000,1.225471,0.013823,0.002464,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.447867,0.465849,0.457255,0.506684,0.473008,0.470133,0.020121,16
1,323.669576,9.014609,0.137091,0.006272,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.493169,0.506077,0.495764,0.541207,0.514603,0.510164,0.017299,7
2,10.874285,0.326219,0.013669,0.001939,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.448158,0.476806,0.476063,0.510321,0.481677,0.478605,0.019759,13
3,113.426152,5.289620,0.128987,0.003142,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.502482,0.514699,0.509813,0.551492,0.525897,0.520877,0.017096,1
4,10.656113,0.455934,0.015051,0.000055,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.475200,0.478700,0.470558,0.519279,0.473775,0.483502,0.018078,10
5,139.997060,15.180746,0.179232,0.036536,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.501503,0.519086,0.509073,0.548989,0.523362,0.520403,0.016206,2
6,0.599044,0.011678,0.017812,0.002678,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.421142,0.465167,0.438427,0.501409,0.478152,0.460859,0.028434,17
7,7.538915,1.378983,0.194141,0.050150,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.484923,0.503022,0.484055,0.533480,0.513613,0.503819,0.018569,9
8,0.428610,0.113051,0.022712,0.011303,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.468280,0.457406,0.464203,0.508555,0.470615,0.473812,0.017941,15
9,4.213551,1.125935,0.312036,0.154253,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.496962,0.512640,0.503989,0.551350,0.522439,0.517476,0.018964,4
10,0.892998,0.279209,0.064464,0.078661,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.456387,0.469411,0.464325,0.511289,0.472486,0.474780,0.019050,14
11,4.559834,1.147747,0.188173,0.018775,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.497350,0.513580,0.506198,0.548458,0.522973,0.517712,0.017534,3
12,0.797215,0.054573,0.021692,0.005342,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.456325,0.452399,0.432890,0.495542,0.462148,0.459861,0.020367,18
13,9.022312,0.550732,0.196596,0.018428,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.486520,0.505216,0.484288,0.533595,0.510701,0.504064,0.017980,8
14,0.435578,0.149284,0.021651,0.002885,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.456318,0.492640,0.470831,0.497571,0.495749,0.482622,0.016292,12
15,5.307249,1.833545,0.463000,0.400961,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.491878,0.513022,0.499288,0.549915,0.520651,0.514951,0.020181,6
16,1.166070,0.550054,0.070614,0.057709,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.456631,0.481097,0.467791,0.514380,0.494483,0.482876,0.020232,11
17,3.901388,1.020422,0.183123,0.041984,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.496060,0.508121,0.501766,0.553202,0.520947,0.516019,0.020351,5

from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVR
param_grid = {"kernel":["rbf","poly","sigmoid","linear"],
             "C":[10,100,1000,2000,3000],"gamma":["auto","scale"]}
grid = GridSearchCV(SVR(), param_grid, refit=True, verbose = 3,n_jobs=-1)
grid.fit(X_train, y_train)

re=grid.cv_results_
grid_predictions=grid.predict(X_test)
from sklearn.metrics import r2_score
r_score=r2_score(y_test,grid_predictions)
print("The R_score value for best parameter{}:".format(grid.best_params_),r_score)

table=pd.DataFrame.from_dict(re)

table